# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes


# Z shell
# Because $ZDOTDIR seems to be taking precedence over `compinit -d`
config/zsh/.zcompdump

# Kakoune folders
config/kak/plugins
config/kak/colors
config/kak/autoload/standard-library
config/newsboat/urls
