# プライバシーとセキュリティを重視する基礎Caddyfile設定ファイル

www.mycoolwebsite.jp {

        timeouts 1m
        gzip

        # サイトの存在フォルダーを指定
        root /var/www/mycoolwebsite

        # FastCGIを使う場合は下記のように指定する
        #fastcgi / /path/to/php.sock php

        # サイトはアプリ上で動く場合、proxyを使用する
        #proxy / localhost:9999 {
        #        transparent
        #}

        header / {
                # 自動スクリプトやを抑えるため、サーバー名を隠す
                # 混乱させるため、全く関係ないサーバー名を返しても良いかも
                -Server

                # protocol downgrade攻撃とcookie hijackingを抑えるため
                # サブドメインも含める
                Strict-Transport-Security "max-age=31536000; includeSubDomains"

                # XSSが検出されたら、ブロックする
                X-XSS-Protection "1; mode=block"

                # MIME sniffingによるXSS攻撃を防ぐためブラウザーのsniffを無効化
                X-Content-Type-Options "nosniff"

                # clickjackingを防ぐため
                X-Frame-Options "DENY"

                # 使っている技術を隠す（自動スクリプトを抑える）
                X-Powered-By "Love"

                # 参照元を隠す
                # 不要の場合：no-referrer
                # サイト内の導線のみ：same-origin
                # 最低限：no-referrer-when-downgrade
                # 上記以外のルールはおすすめしない
                Referrer-Policy "no-referrer"

                # report-uri は問題が検出された際にレポートを送られてくる
                # 最初はmax-age=0を設定して徐々にあげる
                Expect-CT "max-age=604800, report-uri='https://my-report-url.com/'"
        }

        # 一般公開べきでないページへのアクセスを制限
        # WordPressなどのログインページを制限して自動スクリプトを防ぐ
        # なお、Basic認証はBase64エンコードを使うだけで、暗号化とハッシュを行わない
        # 極秘情報を守るためには絶対に使わない
        basicauth username password {
            /wp-admin.php
            /user/login
            /ghost
        }

        # システムファイルを隠す
        # 厳密に 403エラーの方が正しいけど
        # ファイルの存在をバラしたくない
        status 404 {
            /.git
            /.htaccess
        }

        # 必要に応じてログを記録する
        # プライバシー規則を遵守するため、ipmaskを使おう
        log /var/log/caddy/access.log {
            rotate_size 25
            rotate_age  30
            rotate_keep 3
            ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
        }

        errors /var/log/caddy/error.log {
            rotate_size 25
            rotate_age  30
            rotate_keep 3
            ipmask 255.255.0.0 ffff:ffff:ffff:ff00::
        }

        # Let's Encryptくん、頼むぞ！
        tls mycoolemail@mycoolwebsite.jp
}
# URL正規化のため
mycoolwebsite.jp {
        redir https://www.mycoolwebsite.jp{uri}
}