[Desktop Entry]
Type=Application
Name=Conky
Comment=Infotainment system monitor for the X Window System
Exec=sh -c 'nm-online --quiet && conky --daemonize --pause=5'
Hidden=false
Categories=Network;System;
