[Desktop Entry]
Name=ProtonVPN CLI
Exec=/usr/bin/protonvpn-cli connect --fastest
Hidden=false
Terminal=false
Type=Application
Icon=protonvpn-logo
StartupWMClass=Protonvpn
Comment=ProtonVPN CLI client
Categories=Network;
Keywords=vpn;
